<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2015 Pivotal Software, Inc. All Rights Reserved.
  -->

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[CHAOS LEMUR] %-5level %msg%n</pattern>
        </encoder>
    </appender>

    <root level="OFF">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
